<section>
        <div class="form-one-complete-user">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.plainPassword, {
                'attr': {
                    'class': 'form-custom-input'
                }
            }) }}
                {{ form_row(form.submit, { 'label': 'Envoyer'}) }}
            {{ form_end(form) }}
        </div>
</section>
