<section>
        <div class="form-one-complete-user">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.title,  {
                        'label' : 'Titre du post ',
                        'attr': {
                                'class': 'form-custom-input'
                        }
                }) }}
            {{ form_row(form.description, { 'label' : 'Une description '}) }}
            {{ form_row(form.picture, { 'label' : 'Ajoutez une image ',
                    'attr': {
                            'class': 'form-picture'
                    }
            }) }}
        {{ form_row(form.submit, { 'label': 'Créer'}) }}
        {{ form_end(form) }}
        </div>
</section>
